.flex-column {
  display: flex;
  flex-direction: column;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  position: relative;
  text-align: center;
  color: white;
  margin: 50px;
  width: 100%;
  height: 100%;
}
header nav {
  color: black;
  font-size: 1.6rem;
}
header div.contact {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
  color: #504949;
}
@media (max-width: 500px) {
  header div.contact {
    width: 50vw;
    height: 30vh;
  }
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 50vh;
}
@media (max-width: 500px) {
  header img {
    width: 50vw;
    height: 30vh;
  }
}
section.title-container {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact {
  display: flex;
  justify-content: center;
  left: 30%;
  position: relative;
  left: -40%;
}
.contact a {
  margin: 0 auto;
  border: 1px solid lightgrey;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  display: inline-block;
  background: white;
}
img:hover {
  opacity: 80%;
}
body section {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}
body section div.artist {
  display: flex;
  flex-direction: column;
}
body section div.artist img {
  width: 25vw;
  height: 25vh;
}
body section div.artist2 {
  display: flex;
  flex-direction: column;
}
body section div.artist2 img {
  width: 25vw;
  height: 25vh;
}
