body{
section{
.space-between();
margin: 25px;
div.artist{
    .flex-column();
    img{
       width: 25vw;
       height: 25vh;
    }

}

div.artist2{
    .flex-column();
 img{
    width: 25vw;
    height: 25vh;
 }
}

}

}