header{
    position: relative;
  text-align: center;
  color: white;
    margin: 50px;
  width: 100%;
  height: 100%;
  
  nav {
    color: black;
    font-size: 1.6rem;
  }

    div.contact{
        text-align: center;
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 25px;
        color: rgb(80, 73, 73);

        @media(max-width: 500px){
      width: 50vw;
      height: 30vh;
        }

        
    }
    img{
        display: block;
	margin-left: auto;
	margin-right: auto;
        width: 50vw;
        height: 50vh;
        
        @media(max-width: 500px){
            width: 50vw;
            height: 30vh;
              }
    }
    
}
section.title-container{
    font-size: 25px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

 
}
.contact {
  display: flex;
  justify-content: center;
  left: 30%;
  position: relative;
  left: -40%;
  a {
    margin: 0 auto;
    border: 1px solid lightgrey;
    padding: 20px;
    .button-filling(@20px);
    .white-block(@white, @block);
  }
}
img:hover{
  opacity: 80%;
}



















